    .layout-grid {
        display: grid;
        grid-template-columns: 1fr 4.6fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
    
        .layout-grid-1 { grid-area: 1 / 1 / 2 / 2; }
        .layout-grid-2 { grid-area: 1 / 2 / 2 / 3; }

    .p-edit-grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, 2.3fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }

        .edit1 { grid-area: 1 / 1 / 2 / 2; }
        .edit2 { grid-area: 1 / 2 / 2 / 3; }
        .edit3 { grid-area: 1 / 3 / 2 / 4; }

        .reg {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            }
            
            .reg1 { grid-area: 1 / 1 / 2 / 2; }
            .reg2 { grid-area: 1 / 2 / 2 / 3; }
